body {
  font-family: 'IBM Plex Mono', monospace;	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: black;
  color: white;
}
.content {
  margin: 40px;
}

a, a:visited, a:active {
  color: aqua;
}

.project_category {
  margin: 1.2em 0;
}

ul {
  margin: 0.5em 0 05em 2.9em;
  list-style: none;
  padding-left: 0;
}

.project_category {
  font-weight: 700;
}

li {
  text-indent: -2.9em;
  margin: 0.5em 0;
  line-height: 1.3em;
}
