body {
  font-family: 'IBM Plex Mono', monospace;	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cursor {
	z-index: 650;
}

#mce-EMAIL {
	width: 400px;
	background: black;
	z-index: 600;
  outline: none;
}
#mce-EMAIL:not(:placeholder-shown) {
	z-index: 700;
	width: 245px;
}
#mce-EMAIL:placeholder-shown {
	z-index: 600;
}
#mce-EMAIL:focus {
	z-index: 700;
}

#mc-embedded-subscribe {
	margin: 0 0 0 250px !important;
	z-index: 550;
	color: white;
	cursor: pointer;
}
#mc-embedded-subscribe:focus {
        outline:none;
}

div.mce_inline_error {
	display: none !important;
}

#mce-responses {
	z-index: 900;
	color: gray;
	background: black;
}

.logo-container {
  width: 25rem;
  outline: none;
  z-index: 2;
}
.logo {
  max-width: 25rem;
  margin-top: -130px;
  webkit-filter: invert(1);
  filter: invert(1);
}
.logo:active { opacity: 0.8; }

#tagline {
  padding-top: 200px;
  max-width: 600px;
}

#email {
  margin-left: -2px;
}

.blink {
  animation: fade 1000ms infinite;
  -webkit-animation: fade 1000ms infinite;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; }
}
