<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>guild.is</title>

    <link rel="stylesheet" href="assets/tachyons.min.css">
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bg-black">

    <div class="flex justify-center items-center bg-black vh-100 w-100 white pa3">
      <a class="logo-container" href="/cv.pdf">
        <img class="logo" src="assets/logo_floral.svg" />
      </a>

<div id="mc_embed_signup">
        <form action="https://guild.us19.list-manage.com/subscribe/post?u=f45ba9e34ce6e62d094fbcd59&amp;id=034332b2de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
      	    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_f45ba9e34ce6e62d094fbcd59_034332b2de" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	    </div>
          </div>
        </form>
      </div>


      <div class="flex flex-column flex-row-ns items-center-l fixed bottom-0 right-1 pa3 fw6 f6 f5-ns">
        <a class="no-underline white" id="twitter" href="https://twitter.com/guild_is">
          @guild_is
        </a>
      </div>

    </div>

    <script src="assets/guild.js"></script>
  </body>
</html>
