body {
  font-family: 'IBM Plex Mono', monospace;	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: black;
  color: white;
}

.content {
  margin: 40px auto;
  max-width: 750px
}

a, a:visited, a:active {
  color: aqua;
}

.project_category {
  margin: 3em 0 1.5em 0;
  font-weight: 700;
  font-size: 16px;
}

table {
  margin: 0.5em 0;
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

th {
  font-weight: normal;
}

tr {
  line-height: 1.3em;
  text-align: left;
  vertical-align: top;
}

.project {
  padding-left: 0.5em;
}
.year {
	width: 2.5em;
	font-size: 14px;
}
